<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <shopthru>
            <general>
                <trigger_email>1</trigger_email>
                <decrement_stock>1</decrement_stock>
                <validate_available_stock>0</validate_available_stock>
                <link_customer>0</link_customer>
                <auto_invoice>1</auto_invoice>
                <order_status>processing</order_status>
                <pending_order_status>pending</pending_order_status>
                <order_cancelled_action>update_status</order_cancelled_action>
                <cancelled_order_status>canceled</cancelled_order_status>
                <test_order_sku>24-MB01</test_order_sku>
                <admin_api_intercept_enabled>0</admin_api_intercept_enabled>
            </general>
            <payment>
                <active>1</active>
                <title>Shopthru</title>
                <order_status>processing</order_status>
            </payment>
        </shopthru>
        <payment>
            <shopthru>
                <active>1</active>
                <model>Shopthru\Connector\Model\Payment\Method\Shopthru</model>
                <title>Shopthru</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <sort_order>500</sort_order>
                <can_use_checkout>0</can_use_checkout>
                <paymentInfoKeys>transaction_id,payment_data,payment_data_1,payment_data_2,payment_data_3,payment_data_4,payment_data_5</paymentInfoKeys>
            </shopthru>
        </payment>
    </default>
</config>
