<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <shopthru>
            <general>
                <trigger_email>1</trigger_email>
                <decrement_stock>1</decrement_stock>
                <allow_zero_stock>0</allow_zero_stock>
                <link_customer>0</link_customer>
                <auto_invoice>1</auto_invoice>
                <order_status>processing</order_status>
            </general>
            <payment>
                <active>1</active>
                <title>Shopthru</title>
                <order_status>processing</order_status>
            </payment>
        </shopthru>
        <payment>
            <shopthru>
                <active>1</active>
                <model>Shopthru\Connector\Model\Payment\Method\Shopthru</model>
                <title>Shopthru</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <sort_order>500</sort_order>
            </shopthru>
        </payment>
    </default>
</config>
