<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Shopthru\Connector\Api\ImportOrderManagementInterface" type="Shopthru\Connector\Model\ImportOrderManagement" />
    <preference for="Shopthru\Connector\Api\Data\ImportLogInterface" type="Shopthru\Connector\Model\ImportLog" />
    <preference for="Shopthru\Connector\Api\Data\OrderImportInterface" type="Shopthru\Connector\Model\OrderImport" />
    <preference for="Shopthru\Connector\Api\Data\ConfirmOrderRequestInterface" type="Shopthru\Connector\Model\ConfirmOrderRequest" />
    <preference for="Shopthru\Connector\Api\Data\CancelOrderRequestInterface" type="Shopthru\Connector\Model\CancelOrderRequest" />
    <preference for="Shopthru\Connector\Api\Data\OrderImportResponseInterface" type="Shopthru\Connector\Model\OrderImportResponse" />
    <preference for="Shopthru\Connector\Api\ImportLogRepositoryInterface" type="Shopthru\Connector\Model\ImportLogRepository" />

    <type name="Shopthru\Connector\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Shopthru\Connector\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <!-- Add data provider for admin grid -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="shopthru_import_listing_data_source" xsi:type="string">Shopthru\Connector\Model\ResourceModel\ImportLog\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="ShopthruImportLogGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Shopthru\Connector\Model\ResourceModel\ImportLog\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">ShopthruImportLogGridFilterPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="ShopthruImportLogGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Shopthru\Connector\Model\ResourceModel\ImportLog\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">shopthru_import_log</argument>
            <argument name="eventPrefix" xsi:type="string">shopthru_import_log_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">import_log_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Shopthru\Connector\Model\ResourceModel\ImportLog</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="shopthru_test-order-create" xsi:type="object">Shopthru\Connector\Console\Command\TestOrderCreate</item>
                <item name="shopthru_clear_failed_import_logs" xsi:type="object">Shopthru\Connector\Console\Command\ClearFailedImportLogsCommand</item>
            </argument>
        </arguments>
    </type>

    <type name="Shopthru\Connector\Console\Command\TestOrderCreate">
        <arguments>
            <argument name="importOrderManagement"
                      xsi:type="object">Shopthru\Connector\Api\ImportOrderManagementInterface\Proxy</argument>
            <argument name="config"
                      xsi:type="object">Shopthru\Connector\Model\Config\Proxy</argument>
        </arguments>
    </type>
</config>
